/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date:		3/19/2021	
 * Filename:	about.css
 */

#banner_title:after {
	content: "About Us";
}

#banner_text:after {
	content: "Indulge yourself in an unforgettable vacation experience with the comforts of home!";
}

#banner_image_container {
	background-image: linear-gradient(#b5e2e340, #296d70B4), url("../resources/about_banner.jpg");
	background-position:50% 40%;
}

#paragraph_header, #paragraph_header_special {
	color: white;
	transform: skew(-25deg);
	background: #9bd8da;
	padding: 2px;
	padding-left: 5vw;
	margin: 20px 0 0 -20px;
	width: 75vw;
}

#paragraph_header_special {
	background: #ff6a30;
}

/* Paragraph container */
#paragraph_text_container {
	padding-left: 0vw;
	padding-right: 5vw;
	width: 70vw;
}

#paragraph_text_container p {
	padding-left: 5vw;
}

/* Steps Container (schedule, travel, relax) */
#steps_container {
	text-align: center;
	width: 100%;
}

#steps {
	color: black;
	display: inline-block;
	text-align: center;
	padding: 8px;
	margin: 25px;
	background-color: #ff6a30;
	border: solid 2px #ff6a30;
	border-radius: 15px;
}

#steps_number {
	color: white;
	float: left;
	font-size: 23px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#steps_icon {
	height: 84px;
	top: 50%;
}

#steps_icon_container {
	background-color: white;
	border: solid 5px #ff6a30;
	border-radius: 50%;
	padding: 15px;
	position: relative;
}

#steps_introduction {
	color: #6c7275;
	margin-bottom: 3px;
	text-align: center;
}

#steps_text {
	border-bottom: 1px solid #262626;
	border-top: 1px solid #262626;
	cursor: default;
	font-size: 13px;
	font-style: bold;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 150px;
}

#steps_title {
	color: white;
	cursor: default;
	margin-top: 2px;
	padding-top: 2px;
}