/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date:		3/19/2021	
 * Filename:	about.css
 */

/* About Us top image banner */
#banner_image_container {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 20vh;
	background-image: linear-gradient(#b5e2e340, #296d70B4), url("../resources/vac_house.jpg");
}

#banner_text_container {
	height: 100%;
	margin: 0px;
	width: 100%;
}

/* About Us top image banners lower text */
#banner_text {
	color: white;
	font-size: 13px;
	margin: 0px;
	text-align: center;
}

/* About Us top image banners title */
#banner_title {
	color: white;
	font-size: 50px;
	margin: 0px;
	padding: 8px;
	padding-top: 50px;
	text-align: center;
}


#paragraph_header {
	color: white;
	transform: skew(-25deg);
	background: #9bd8da;
	padding: 2px;
	padding-left: 5vw;
	margin: 20px 0 0 -20px;
}

/* Paragraph container */
#paragraph_text_container {
	padding-left: 0vw;
	padding-right: 5vw;
}

#paragraph_text_container p {
	padding-left: 5vw;
}

/* Steps Container (schedule, travel, relax) */
#steps_container {
	text-align: center;
	width: 100%;
}

#steps {
	color: black;
	display: inline-block;
	text-align: center;
	padding: 8px;
	margin: 25px;
	background-color: #ff6a30;
	border: solid 2px #ff6a30;
	border-radius: 15px;
}

#steps_icon {
	height: 84px;
	top: 50%;
}

#steps_icon_container {
	background-color: white;
	border: solid 5px #ff6a30;
	border-radius: 50%;
	padding: 15px;
	position: relative;
}

#steps_text {
	border-bottom: 1px solid #262626;
	border-top: 1px solid #262626;
	cursor: default;
	font-size: 13px;
	font-style: bold;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 150px;
}

#steps_title {
	color: white;
	cursor: default;
	margin-top: 2px;
	padding-top: 2px;
}