/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date:		3/19/2021	
 * Filename:	contactUs.css
 */
 
#banner_title:after {
	content: "Contact Us";
}

#banner_text:after {
	content: "Got Questions For Us? We Can Assist You!";
}

 label.formLabel {
	font-weight: bold;
	padding-left: 4px;
}

input {
	width: 200px;
	height: 20px;
}

textarea {
	height: 100px;
}

form::before {
	display: block;
	color: #353839;
	content: "Contact Form";
	font-size: 26px;
	text-align: center;
	margin-bottom: 25px;
}


form {
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 8px;
	margin-bottom: 25px;
	padding: 20px;
	
	
}

#input_arrival, #input_departure {
	padding-right: 5px;
}

#input_arrival::before, #input_departure::before {
	font-weight: bold;
	color: #6c7275;
	padding-right: 5px;
}

#input_arrival::before {
	content: "Arrival";
}

#input_departure::before {
	content: "Departure"
 }

/* Submit button */
#submit {
	background-color: #ff6a00;
	border: 0px solid rgba(0,0,0,0);
	border-radius: 8px;
	color: #f8f8ff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .5px;
	margin: 2px;
	padding: 2px;
	transition: background-color 0.7s ease;
}

#submit:hover {
	background-color: #ffb62a;
}

div.contactUsForm {
	margin: auto;
	width: fit-content;
}

h1, h3 {
	text-align: center;
}