/*
 * JavaScript 6th Edition
 * Author:	 Evan, Jordon, Joshua, Nathan
 * Date:	 3/19/2021	
 * Filename: contactUs.css
 */
label.formLabel {
	font-weight: bold;
	padding-left: 4px;
	padding-top: px;
}

input.formInput {
	border-width: 0px;
	background-color: #9bd8da;
	border-radius: 8px;
	line-height: 20px;
	margin: 2px;
}

textarea {
	border-width: 0px;
	background-color: #9bd8da;
	border-radius: 8px;
	margin: 2px;
	margin-left: 8px;
	height: 100px;
}

/* Submit button */
#submit {
	font-family: 'Verdana', Fallback, sans-serif;
	font-weight: bold;
	border-width: 0px;
	background-color: #9bd8da;
	border-radius: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;

}

#submit:hover {
	font-weight: bold;
	cursor: pointer;
	background-color: lightblue;
}