/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date: 		3/19/2021	
 * Filename:	gallery.css
 */
h1 {
	text-align: center;
}

h3 {
	text-align: center;
}


#banner_title:after {
	content: "Gallery";
}

#banner_text:after {
	content: "Our Home is Now Your Home!";
}

.galleryTable {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #9bd8da;

}

.galleryTR {
	border: 2px solid #9bd8da;
}

.galleryTD {
	border: 2px solid #9bd8da;
	overflow: hidden;
}

.galleryPhoto {
	width: 25vw;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
}

p.gallery {
	text-align: center;
}

#galleryDiv {
	padding-bottom: 10px;
}

article {
	background: white;
	position: relative;
}

table {
	position: relative;
	width: 960px;
	display: inline-block;
	height: 450px;
}

#leftarrow, #rightarrow {
	background: #696565;
	color: white;
	position: absolute;
	z-index: 30;
	text-align: center;
	height: 135px;
	width: 40px;
	top: 67px;
}

article div:hover {
	cursor: default;
}

#leftarrow {
	left: 0;
}

#rightarrow {
	right: 0;
}

#leftarrow p, #rightarrow p {
	position: relative;
	top: 50%;
	margin-top: -0.5em;
}

figure {
	position: absolute;
	-webkit-box-shadow: 10px 0px 5px #9bd8da, -10px 0px 5px #9bd8da;
	-moz-box-shadow: 10px 0px 5px #9bd8da, -10px 0px 5px #9bd8da;
	box-shadow: 10px 0px 5px #9bd8da, -10px 0px 5px #9bd8da;
}

#fig2 {
	z-index: 10;
	left: 13%;
	top: 34px;
}

#fig3 {
	z-index: 20;
	left: 50%;
	margin-left: -300px;
	top: 0;
}

#fig4 {
	z-index: 10;
	right: 13%;
	top: 34px;
}