/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date:		4/23/2021
 * Filename:	gallery.css
 */

/* makes arrows transparent if overlapping image */
@media only screen and (max-width: 650px) {
	#leftarrow, #rightarrow {
		opacity: 0.5;
		transition: 0.5s ease-in-out;
	}
}

article {
	position: relative;
	display: flex;
	align-content: center;
	align-items: center; /* Default */
	justify-content: space-between;
	padding: 7px;
	margin: 7px;
}

article div:hover {
	cursor: default;
}

figure {
	-webkit-box-shadow: 10px 0px 5px #9bd8da, -10px 0px 5px #9bd8da;
	-moz-box-shadow: 10px 0px 5px #9bd8da, -10px 0px 5px #9bd8da;
	box-shadow: 10px 0px 5px #9bd8da, -10px 0px 5px #9bd8da;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}


#banner_title:after {
	content: "Gallery";
}

#banner_text:after {
	content: "Our Home is Now Your Home!";
}

#banner_image_container {
	background-image: linear-gradient(#b5e2e340, #296d70B4), url("../resources/gallery_banner.jpg");
	background-position:50% 40%;
}

#center_contents {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#fig2 {
	z-index: 10;
	margin: 0px;
}

#fig3 {
	z-index: 20;
	margin: 0px;
	margin-left: -500px;
}

#fig4 {
	z-index: 10;
	margin: 0px;
	margin-left: -500px;
}

.galleryTable {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #9bd8da;
}

.galleryTR {
	border: 2px solid #9bd8da;
}

.galleryTD {
	border: 2px solid #9bd8da;
	overflow: hidden;
}

.galleryPhoto {
	width: 25vw;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
}

.gallery {
	text-align: center;
	width: 500px;
	font-size: 17px;
	color: #353839;
}

.gallery::after {
	display: block;
	border-bottom: 2px solid #ffb62a;
	content: " ";
	width: 15%;
	text-align: center;
	margin: auto;
	padding-top: 10px;
}

.gallery_title {
	color: #6c7275;
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}

#galleryDiv {
	padding-bottom: 10px;
	text-align: center;
}

#leftarrow, #rightarrow {
	background: white;
	border: 4px solid #b5e2e3;
	border-radius: 5px;
	color: white;
	text-align: center;
	height: 35px;
	width: 90px;
	margin: 5px;
	cursor: pointer;
	background-image: url(../resources/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover-height;
	transition: 0.3s ease-in-out;
}

#leftarrow:hover, #rightarrow:hover {
	
	background-color: #b5e2e3;
}


#leftarrow {
	transform: rotate(90deg);
	min-width: 80px;
}

#rightarrow {
	transform: rotate(-90deg);
	min-width: 80px;
}