/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date:		3/19/2021	
 * Filename:	homepage.css
 */


body#home {
	background-image: linear-gradient(#b5e2e340, #296d70B4), url("../resources/vac_house.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#calH {
	position: relative;
	text-align: center;
}

#dates {
	height: 270px;
	width: 328px;
	position: center;
	margin: 100px;
}

#prev {
	background-color: rgba(156,183,187,.85);
	width: 90px;
	border-color: black;
	border: 20px;
}

#next {
	background-color: rgba(156,183,187,.85);
	width: 60px;
}

#dateCal {
	text-align: center;
	background-color: rgba(156,183,187,.85);
	border-spacing: 10px;
}