/*
 * Author:		Evan Tatavitto, Jordan Bender, Joshua Marshall, Nathan Mousinho Elias
 * Date:		3/19/2021	
 * Filename:	homepage.css
 */

body {
	background-color: #1a4547;
	color: white;
}

svg {
	display: block;
	margin: auto;
}

#website_title {
	color: #f8f8ff;
	font-weight: bold;
	margin-bottom: 5px;
}

#website_motto {
	font-size: 24px;
	font-weight: lighter;
	color: #f8f8ff;
	font-style: italic;
}

#website_motto_contrast {
	color: #ff6a00;
	font-style: italic;
}
/* overwirtting header css */
#nav_list {
	background-color: rgba(0,0,0,0);
}

#start_screen_container {
	background-image: linear-gradient(#b5e2e340, #296d70B4), url("../resources/vac_house.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}

#calH {
	color: #f8f8ff;
	font-size: 26px;
	font-weight: bold;
	margin-top: 80px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}

#contact_us_button {
	background-color: #ff6a00;
	border: 0px solid rgba(0,0,0,0);
	border-radius: 8px;
	color: #f8f8ff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .5px;
	margin-left: 30px;
	margin-top: 15px;
	padding: 12px;
	padding-left: 17px;
	padding-right: 17px;
	text-align: center;
}

#dates {
	padding: 15px;
}


#home_input_date {
	border-radius: 8px;
	padding: 10px;
	width: 175px;
	border: 0px solid white;
}

#prev {
	border-color: black;
	border: 20px;
	display: inline-block;
	width: 90px;
}

#next {
	display: inline-block;
	width: 60px;
}

#dateCal {
	text-align: center;
	border-spacing: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
}

#dateCal > * {
cursor: default;
}

#dateCal th {
	color: #6c7275;
	cursor: default;
	font-size: 17px;
}

#dateCal td {
	padding: 6px;
	border: 2px solid rgba(0,0,0,0);
	color: #353839;
	cursor: default;
	font-size: 15px;
	font-weight: bold;
	transition: color 0.3s ease-out, border 0.3s ease-out;
	text-align: center;
}

#dateCal td:hover {
	border: 2px solid #ffb62a;
	color: #ffb62a;
}

#dateCal caption {
	color: #353839;
	font-size: 18px;
	padding: 5px;
	background-color: #ff6a00;
	border-top-left-radius: 15px;
}

#dateCal_container {
	background-color: #f8f8ff;
	display:inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	border-top-right-radius: 0px;
}

#caption_container {
	width: 100%;
}

/* Prev and Next Buttons within caption container*/
#caption_container div {
	color: #353839;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	transition: color 0.3s ease-out, border 0.3s ease-out;
	width: 20px;
}

#caption_container div:hover {
	color: red;
}

#caption_text {
	display: inline-block;
	margin: 0px;
	padding: 5px;
}

#caption_prev_button {
	float: left;
}

#caption_next_button {
	float: right;
}

/* testing */
#package{
	border: 2px solid red;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 45vw;
}

#package_img_container {
	text-align: center;
	padding: 10px;
}

#package_img_skewer{
	display: flex;
	width: 100px;
	height: 100px;
	border: 2px solid blue;
	transform: rotate(50deg);
	margin: 45px;
	padding: 15px;
	overflow: hidden;

}

#package_img{
	width: 200%;
	height: 200%;
	transform: rotate(-50deg);
	object-fit:cover;
	margin: -50% -50%;
}

#package_description {
	border: 2px solid yellow;
	margin: auto;
	margin-left: 20px;
	max-width: 500px;
}

#package_title {
	font-size: 23px;
	font-weight: bold;
}

#package_container {
	display: flex;
	flex-wrap: wrap;
}