body {
	font-family: 'Verdana', Fallback, sans-serif;
}

p {
	font-size: 16px;
}

/* Dropdown menu for 'things to do' */
select {
	font-family: 'Verdana', Fallback, sans-serif;
	font-size: 25px;
	text-align-last:center;
	background-color: #9bd8da;
	display: block;
	padding: 10px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	border-color: #9bd8da;
  	border-radius: 5px;
  	border-width: 4px;
  	width: 40%;
}

/* Sub-contents of the dropdown menu */
option {
	font-size: 20px;
	background-color: rgba(155, 216, 218, 1);
}

h1 {
	text-align: center;
}

/* Overall attraction table */
table.toDoTable {
	margin-left: auto;
  	margin-right: auto;
  	border-spacing: 15px;
}

/* Images for attraction table */
.toDoImg {
	border-radius: 8px;
	width: 600px;
	height: 450px;
}

/* Attraction name and description */
.toDoDsrptn {
	width: 600px;
	padding: 10px;
	background-color: #9bd8da;
	border-radius: 8px;
	text-align: center;
}

